.songsContainer {
  margin-top: 140px;
  min-height: 100vh;
  padding: 0 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 80px;
  justify-content: center;
  align-content: start;
}
