.songsContainer {
  padding: 100px 150px 0px 150px;
  min-height: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 80px;
  justify-content: center;
  align-content: start;
  background-color: #1a1a1d;
}
