.charts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1d;
  padding: 50px 150px 100px 150px;
}

.title {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #c5c5c5;
  margin-bottom: 15px;
}

.songsContainer {
  width: 950px;
  border: 2px solid #c3073f;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 4px #c3073fa9;
  padding: 50px;
  justify-content: center;
}

.songsList {
  padding: 0;
  margin: 0;
  display: flex;
  row-gap: 30px;
  max-height: 600px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
}

.song {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.position {
  margin: 0 10px 0 0;
  color: #c5c5c5;
  font-size: 16px;
  font-weight: 500;
}
