.logo {
  display: flex;
  position: absolute;
  left: 50px;
  top: 0;
  font-size: 50px;
  padding-right: 40px;
  border-right: 3px solid #c3073f;
  height: 80px;
}

.headerContainer {
  position: fixed;
  top: 0;
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #1A1A1D;
  height: 80px;
  color: #c5c5c5;
  font-weight: 600;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 14px 18px 1px rgba(0, 0, 0, 0.21);
  z-index: 99;
}

.headerHidden {
  transform: translateY(-100%);
}

.listContainer {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
}

.listElement {
  cursor: pointer;
  transition: 0.15s;
}



.userContainer {
  position: absolute;
  right: 3%;
}

@keyframes logoMoving {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
